 /*** Tighten up drop-down/context/popup menu spacing ***/

menupopup > menuitem, menupopup > menu {
  padding-block: 4px !important;
}
:root {
  --arrowpanel-menuitem-padding: 4px 8px !important;
}

toolbarbutton.bookmark-item {
    padding-left: 5px !important;
    padding-right: 5px !important;
}

#nav-bar toolbarspring {
    min-width: 100px !important;
    max-width: 200px !important;
}

